<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
  </head>

  <main>
    <body>
      <div class="container">
        <div class="row justify-content-center">
          <div class="d-flex justify-content-start m-3">
            <% if @book.errors.any? %>
              <% if @book.errors.count == 1 %>
                <%= @book.errors.count %> error prohibited this obj from being saved:
              <% else %>
                <%= @book.errors.count %> errors prohibited this obj from being saved:
              <% end %>
              <ul>
                <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="d-flex justify-content-center w-100">
            <h2>Editing Book</h2>
          </div>
        </div>
        <%= form_with model: @book do |f| %>
          <div class="row justify-content-center">
            <div class="d-flex justify-content-start">
              <label>Title</label>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="d-flex justify-content-center w-100">
            <%= f.text_field :title, autofocus: true, id:"inputTitle" %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="d-flex justify-content-center w-100">
              <label>Opinion</label><br>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="d-flex justify-content-center w-100">
              <%= f.text_area :body, autofocus: true, id:"inputTitle" %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="d-flex justify-content-center w-100 m-4">
              <%= f.submit "Update Book", class: "btn btn-success" %>
            </div>
          </div>
            <div class="row justify-content-center">
              <div class="d-flex justify-content-center w-100 m-4">
              <p>
                <span class="book-title"><%= link_to "Show", book_path(@book.id) %> |
                <span class="book-title"><%= link_to "Back", books_path %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </body>
  </main>
</html>