<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
  </head>

<main>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <%= render partial: 'users/show', locals: { user: @user }%>
          <%= render partial: 'books/new', locals: { book: @book }%>
      </div>
      <div class="col-md-8 offset-md-1" >
        <h1 class="m-4">Books</h1>
        <table class="table">
            <tr>
              <th> </th>
              <th>Title </th>
              <th> Opinion</th>
            </tr>
            <% @books.each do |book| %>
                  <% if book.user.profile_image.attached? %>
                    <td>
                    <%= link_to user_path(book.user.id), onclick: "event.stopPropagation();" do %>
                      <span class="book-title"><p><%= image_tag book.user.get_profile_image(100,100) %></p>
                    <% end %>
                    </td>
                  <% else %>
                    <td>
                    <%= link_to user_path(book.user.id), onclick: "event.stopPropagation();" do %>
                    <span class="book-title"><p><%= image_tag 'no_image', size: '100x100' %></p>
                    <% end %>
                    </td>
                  <% end %>
                  <td><span class="book-title"><p><%= link_to "#{book.title}", book_path(book.id), onclick: "event.stopPropagation();" %></p></td>
                  <td><span class="book-title"><p><%= book.body %></p></td>
                </tr>
            <% end %>
        </table>
      </div>
    </div>
  </div>
  </body>
</main>
</html>
 
